.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display:flex;
  justify-content: center;
  align-items: flex-start; 
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: space-around; /* Espacio alrededor para dividir en columnas */
  width: 90%;
  max-width: 1200px; /* Ajusta según tu diseño */
  margin-top: 20px; /* Espacio superior opcional */
}

.form-container {
  width: 45%; /* Ancho del formulario */
  background-color: #cfcfcfc4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-right: 50px; /* Espacio entre form y listado */
}

.listado-citas {
  margin-bottom: 20px;
  margin-left: 20px; /* Mueve el contenedor más hacia la izquierda */
 
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  /* Estilos para centrar el contenido */
  display: flex;
  flex-direction:column;
  justify-content: center;
}

.cita {
  margin: 15px; /* Añade espacio entre cada cita */
  padding: 10px; /* Opcional: añade un poco de relleno alrededor de cada cita */
  border: 1px solid #141414; /* Opcional: añade un borde alrededor de cada cita */
  border-radius: 5px; /* Opcional: redondea los bordes de cada cita */
  background-color: #cfcfcfc4;
}


.cita p {
  padding: 0.5rem; /* Ejemplo de padding en rem */
  font-size: 1rem; /* Ejemplo de tamaño de fuente en rem */
}

.cita button {
  padding: 0.5rem 1rem; /* Ejemplo de padding con unidades relativas */
  font-size: 1rem; /* Ejemplo de tamaño de fuente en rem */
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.cita button:hover {
  background-color: #c82333;
}

/* Estilos para los inputs del formulario */
input[type="text"],
input[type="number"],
input[type="date"],
input[type="time"] {
  width: calc(100% - 24px); /* Ajustar el ancho con margen interior */
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 1.1rem;
}

/* Estilos para los botones del formulario */
button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 8px;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}


.container {
  display: flex;
  justify-content: space-between; 
}

.Form {
  
  flex: 0 1 40%; 
}

.Listado {
  
  flex: 0 1 55%; 
  margin-bottom: 20px;
}
